@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Sacramento');

html {
	/* font-family: 'Dancing Script', cursive; */
	font-family: 'Sacramento', cursive;
}

#header {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#body {
	display: flex;
	flex-flow: column;
	align-items: center
}

canvas {
	position: absolute;
	background-color: transparent;
	border-radius:  100%;
	z-index: 1
}

button {
	height: 50px;
	width: 150px;
	background-color: #B21F10;
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
}

button:hover {
	background-color: green;
}

#snowglobe {
	height: 80vh;
	position: absolute;
	/* padding-top: 18% */
}

#heading {
	font-size: 100px;
	text-align: center;
}

